  .ReactModal__Overlay--after-open:focus {
    outline: -webkit-focus-ring-color auto 0 !important;
  }

  :focus {
    outline: -webkit-focus-ring-color auto 0 !important;
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    path {
      fill: #eee;
    }

    &:hover path {
      fill: #888;
    }

    svg {
      width: 12px;
      height: 12px;
      margin-top: 6px;
      margin-right: -12px;
    }
  }

.homepage{

  .ReactModal__Overlay {
    position: absolute !important;
    background-color: red;
    opacity: 1;
    cursor: move;
    right: auto;
    bottom: auto;
    z-index: 99 !important;
    top: 160px !important;
    left: 40px !important;
    width: 400px;
    max-height: 500px;
  }

  .ReactModalPortal:nth-of-type(2) .ReactModal__Overlay {
    z-index: 110 !important;
    top: 120px !important;
    left: 60px !important;
    width: 400px;
    max-height: 500px;
  }

  .ReactModalPortal:nth-of-type(3) .ReactModal__Overlay {
    z-index: 80 !important;
    top: 206px !important;
    //left: 20px !important;
    width: 500px;
    max-height: 250px;
  }
}

.inner {
  padding:10px 8px;
   p {
    font-size: 0.8em;
  }
}

.ModalBody {
  box-shadow: 0 3px 15px rgba(0,0,0,.4), 0 0 5px rgba(0,0,0,.4);
  border-radius: 4px;
  background-color: #fff;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity 0.2s;
  font-size: 0.8em;
  line-height: 1.3em;

  .inner,
  .item {
    padding: 10px 8px;
  }
}

.Modal {
  top: 80px !important;
  left: 0px !important;
}



.title,
.title2,
.title3 {
  border-radius: 4px 4px 0 0;
  padding: 15px 20px;
  background: #f13ab8;
  color: #fff;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}

.title2 {
  background: #c3c3c3;
}

.title3 {
  background: #f13ab8;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(255, 255, 255, 0) !important;

  &:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.video-background {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 300px;
  z-index: -99;
  margin: 0.4em 1em 0;
}

.video-background iframe,
.video-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#vidtop-content {
  top: 0;
  color: #fff;
}

.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
}

.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0,0,0,0.5);
  transition: 0.6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }

  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}

.video-background {
  margin-top: 200px;
}

h1.index {
  position: absolute;
  width: 100%;
  top: 7em;
  margin: 0 auto;
  font-size: 3.2em;
  color: #f13ab8;
  text-shadow: -1px -1px 0 rgba(255,255,255,0.2), 1px -1px 0 rgba(255,255,255,0.2), -1px 1px 0 rgba(255,255,255,0.2), 1px 1px 0 rgba(255,255,255,0.2);

  img {
    width: 100%;
    height: auto;
  }
}

.fullscreen-video-background {
  background: #000;
  position: relative;
  width: 100%;
  z-index: -99;
  overflow: hidden;
  height: 100vh;
  // http://html5backgroundvideos.com/pattern-overlays/
  // or vegas js
  ._pattern-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.3;
    bottom: 0;
    /*
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/03.png");
    */
    z-index: 2;
  }

  #_buffering-background {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #222;
    z-index: 1;
  }

  #_youtube-iframe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    height: 100%;

    #_youtube-iframe {
      position: absolute;
      pointer-events: none;
      margin: 0 auto;
      ////
      height: 300vh;
      width: 120vw;
    }
  }
}

.Marquee {
  margin-top: 1em;
  padding: 1em;
  background-color: #fbfbfb;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

h1.index {
  text-align: center;
}

.header-home {
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}