
.jBox-Modal {
	& .jBox-title {
		border-radius: 4px 4px 0 0;
		padding: 15px 20px;
		background: $purple;
		color: lighten($grey, 20%);
		letter-spacing: 0.2em;
		border-bottom: 1px solid #eee;
	}

	p {
		font-size: 0.8em;
		line-height: 1.3em;
	}
}

#jb2,#jb3 {
	.jBox-closeButton path {
		fill: #fff;
	}

	.dat {
		font-size: 0.5em;
		padding: 0 0 1em;
	}
}

#jBox4 .jBox-title{
	background: darken($grey,20%);

}

@media screen and (max-width: 768px) {
	#jBox4,#jBox3,#jBox2,#jBox1{
		/* width: 10em; */
		display: none !important;
	}
}