@charset "UTF-8";
/* cd c:/uwamp/www/distant-shores/wp-content/themes/seadiorama & compass watch */
/* $purple:#23aee0; */
/* Responsive */
/* Spacer */
h2.contact {
  font-size: 2em;
  padding-bottom: 2em; }

#confirmation {
  margin: 0.6em;
  background-color: #117893;
  padding: 0.4em;
  display: none; }

#contact {
  padding-bottom: 1em; }
  #contact label {
    font-weight: normal;
    color: #fff; }
  #contact span.error {
    color: #3af173;
    color: #117893;
    height: 1.4em; }
  #contact button#submit {
    background-color: #3af173;
    background-color: #117893; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #faffff;
  background-image: none;
  color: black; }

@media screen and (max-width: 760px) {
  .is-12 {
    padding: 0 1.6em 0 0 !important; }
  .purplepage .form {
    padding-left: 60px !important; } }

@media screen and (min-width: 761px) and (max-width: 1000px) {
  .purplepage .form {
    padding-left: 0px !important; } }

@media screen and (max-width: 760px) {
  h2.page {
    font-size: 1.2em; } }

@media screen and (min-width: 761px) {
  h2.page {
    font-size: 2em; } }

a.navbar-item.baisse {
  padding-top: 1.1em; }

@media screen and (max-width: 760px) {
  .navbar-brand .is-hidden-tablet {
    padding: 0 0 0 0.7em; }
  .field.is-grouped {
    display: flex;
    justify-content: space-between;
    margin: 0 2em; }
    .field.is-grouped .navbar-item {
      font-size: 1.1em;
      padding: 0.2rem; } }

a.navbar-item.is-active,
a.navbar-item:hover,
a.navbar-link.is-active,
a.navbar-link:hover {
  background-color: #f13ab8;
  color: #f6f6f6; }

.navbar-end a.navbar-item {
  font-size: 1.8em; }

.navbar-end a.navbar-item:link,
.navbar-end a.navbar-item:visited {
  color: #c3c3c3; }

.navbar-end a.navbar-item:hover {
  color: white; }

@media screen and (max-width: 760px) {
  #navMenubd-example.is-active {
    background-color: #f13ab8; }
    #navMenubd-example.is-active a.navbar-item:link,
    #navMenubd-example.is-active a.navbar-item:visited {
      background-color: #f13ab8; }
    #navMenubd-example.is-active a.navbar-item:active,
    #navMenubd-example.is-active a.navbar-item:hover {
      background-color: #c3c3c3; } }

.navbar-end {
  padding-right: 1em; }

section.brand {
  background-color: #fefefe;
  border-bottom: 1px solid #f6f6f6; }
  section.brand h3 {
    padding: 0.4em 0 0.8em 1.2em;
    font-size: 0.8em; }

.navbar-burger {
  margin-top: 0.4em; }

span.icon.baisse {
  font-size: 1.2em;
  padding-top: 0.4em; }

section.texte {
  border-top: 1px solid #c3c3c3;
  background-color: #f6f6f6; }
  section.texte .dioramaText {
    font-size: 0.9rem; }
  section.texte .columns {
    background-color: #f6f6f6;
    border-top: #c3c3c3; }
  section.texte .column {
    padding: 1em 1.4em 0 2em;
    line-height: 1.4em; }
  section.texte h2.titre {
    font-size: 3em;
    padding: 0.7em 0; }
  @media screen and (max-width: 760px) {
    section.texte h2.titre {
      font-size: 2em;
      line-height: 1.4em; } }
  @media screen and (min-width: 761px) {
    section.texte h2.titre {
      font-size: 3em; } }
  section.texte .data,
  section.texte .purple {
    background-color: #f13ab8;
    color: white;
    padding: 0.6em;
    margin-top: 0.4em; }
    section.texte .data.sold,
    section.texte .purple.sold {
      background-color: spin(#f13ab8, 180°); }
  section.texte .data {
    background-color: #fefefe;
    font-size: 0.8em;
    color: #5d5d5d; }
  section.texte div.columns.v2 {
    background-color: #fbfbfb; }
    section.texte div.columns.v2 .column {
      border: 1px solid #d2d2d2; }
      section.texte div.columns.v2 .column.size {
        padding-bottom: 1em;
        font-size: 1em; }
      section.texte div.columns.v2 .column.desc {
        padding-bottom: 2em; }
        @media screen and (min-width: 768px) {
          section.texte div.columns.v2 .column.desc {
            padding-right: 4em; } }
        section.texte div.columns.v2 .column.desc h2 {
          font-size: 1.2em;
          padding-bottom: 0.6em;
          letter-spacing: 0.04em; }
    @media screen and (max-width: 760px) {
      section.texte div.columns.v2 .column.size {
        padding-bottom: 1em;
        font-size: 0.7em; } }

.slider {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
  color: white; }
  .slider .parent-slide {
    padding: 15px; }
  .slider img {
    display: block;
    margin: auto; }

.slick-dots {
  left: 0; }

footer {
  background-color: #fff;
  padding: 0 2em 2em;
  font-size: 0.6em; }
  footer .columns {
    border-top: 0px solid #aaaaaa; }
  footer p {
    padding: 1em; }
  @media screen and (max-width: 760px) {
    footer {
      background-color: #fbfbfb; } }

.purplepage {
  background-color: #f13ab8;
  color: white;
  margin-top: 1em; }
  .purplepage .form h2 {
    text-transform: uppercase;
    padding: 0.4em 0 1em 0em; }
  @media screen and (max-width: 1200px) {
    .purplepage .column.form {
      padding: 0em; } }
  .purplepage .bordertop {
    border-top: 0px solid #fff; }
  .purplepage .maplien {
    z-index: 200; }
  .purplepage .bio {
    padding: 1em 2em;
    font-size: 1em;
    border-right: 1px solid #fbc9eb;
    line-height: 1.8em;
    margin-right: 12px; }
    @media screen and (max-width: 760px) {
      .purplepage .bio {
        border-right: 0px solid #fbc9eb;
        padding: 1em 2em 0 1.4em;
        font-size: 0.8em; } }
    .purplepage .bio h1 {
      padding: .2em 0 0  0;
      margin-bottom: 1.2em;
      text-transform: uppercase; }
    .purplepage .bio p {
      padding: 0.2em 1em 1.5em 0; }
  .purplepage .links {
    border-top: 1px solid #fbc9eb;
    padding: 1em 0 0em 2em; }
    .purplepage .links h2 {
      font-size: 2em;
      margin-bottom: 1.2em;
      text-transform: uppercase; }
    .purplepage .links div div a {
      padding-left: 0; }
    .purplepage .links .tooltip {
      font-size: 0.6em; }
    .purplepage .links a {
      padding: 0 0 0 0.8em;
      font-size: 1.2em; }
      .purplepage .links a:link, .purplepage .links a:visited {
        color: #117893; }
      .purplepage .links a:active, .purplepage .links a:hover {
        color: #0c5365; }
    .purplepage .links p {
      line-height: 2em; }
  .purplepage div .maps .header-galery-maps {
    margin-left: 2em; }
    .purplepage div .maps .header-galery-maps h1 {
      margin: 0; }

.jBox-Modal .jBox-title {
  border-radius: 4px 4px 0 0;
  padding: 15px 20px;
  background: #f13ab8;
  color: white;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #eee; }

.jBox-Modal p {
  font-size: 0.8em;
  line-height: 1.3em; }

#jb2 .jBox-closeButton path, #jb3 .jBox-closeButton path {
  fill: #fff; }

#jb2 .dat, #jb3 .dat {
  font-size: 0.5em;
  padding: 0 0 1em; }

#jBox4 .jBox-title {
  background: #c3c3c3; }

@media screen and (max-width: 768px) {
  #jBox4, #jBox3, #jBox2, #jBox1 {
    /* width: 10em; */
    display: none !important; } }

.blogpage {
  /*MASONRY*/
  /*

  $bg: #4F000B;
  $itemBg1: #720026;
  $itemBg2: #CE4257;
  $itemBg3: #FFC093;
  $itemBg4: #FF7F51;
  $counterBg: #222;

  @mixin setColorAndHover($baseColor) {
    color: $baseColor;
    &:hover {
      background: lighten($baseColor, 8%);
    }
  }

   body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  background: $bg;
  font-family: "PT Mono", monospace;
}
*/ }
  .blogpage .columns {
    border-top: 0px solid #aaaaaa; }
  .blogpage .masonry {
    column-count: 1;
    column-gap: 0;
    counter-reset: item-counter;
    font-size: 0.9em;
    /*   @media screen and (min-width: 1100px) {
  column-count: 3;
  } */ }
    .blogpage .masonry h2 a {
      color: #000; }
    .blogpage .masonry img {
      margin-bottom: 0.6em; }
    @media screen and (min-width: 400px) {
      .blogpage .masonry {
        column-count: 1; } }
    @media screen and (min-width: 600px) {
      .blogpage .masonry {
        column-count: 2; } }
    @media screen and (min-width: 800px) {
      .blogpage .masonry {
        column-count: 3; } }
  .blogpage .item {
    box-sizing: border-box;
    break-inside: avoid;
    padding: 10px;
    counter-increment: item-counter; }
    .blogpage .item__content {
      position: relative;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      border: 1px solid #dddddd;
      padding: 0.5em 1em;
      /*     height: 220px;
font-size: 40px;
color: darken($bg, 5%);
background: currentColor; */
      box-sizing: border-box;
      /* @include setColorAndHover($itemBg1);
*/ }
      .blogpage .item__content--small {
        /*   @include setColorAndHover($itemBg2);
*/
        min-height: 100px; }
      .blogpage .item__content--medium {
        /*   @include setColorAndHover($itemBg3);
*/
        min-height: 175px; }
      .blogpage .item__content--large {
        /*   @include setColorAndHover($itemBg4);
*/
        min-height: 280px; }
      .blogpage .item__content h2 {
        font-size: 1.21em; }
      .blogpage .item__content h3 {
        font-size: 0.7em;
        color: #117893;
        font-style: italic;
        padding: .8em 0; }
      .blogpage .item__content p {
        font-size: 0.8em;
        line-height: 1.5em; }

#bgndVideo {
  margin: 0.4em 0 0 2em;
  height: 200px; }
  #bgndVideo div {
    display: flex;
    align-items: center;
    justify-content: center; }
  #bgndVideo h1 {
    margin-top: 20vh;
    font-family: "Comfortaa", cursive;
    font-size: 4.6em;
    color: #f13ab8;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2), 1px -1px 0 rgba(255, 255, 255, 0.2), -1px 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 0 rgba(255, 255, 255, 0.2); }

.mbYTP_wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

#wrapper_bgndVideo {
  min-height: 600px !important; }

.inline-YTPlayer {
  max-height: 630px !important;
  border-bottom: 1px solid #f6f6f6; }

/* retour en haut de page  */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(img/top.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 60px; } }

.blog-illustration {
  padding: 0.5em 0; }

.texte-blog {
  margin-top: 1em;
  border-top: 1px solid #e9e9e9; }
  .texte-blog .columns {
    border-top: 0px solid #aaaaaa; }
  .texte-blog h1.titre {
    font-family: "Comfortaa", cursive;
    font-size: 2.4em;
    padding: 1em 0; }
  .texte-blog .data {
    background-color: #f6f6f6;
    padding: 2em; }
  .texte-blog .image-pad {
    padding: 1em 0.5em; }
  @media screen and (max-width: 760px) {
    .texte-blog p {
      line-height: 1.5em;
      font-size: .8em; }
    .texte-blog h1.titre {
      padding: 0.5em 0;
      font-size: 1.8em; }
    .texte-blog .data {
      font-size: 0.7em; }
    .texte-blog .retraitmobile {
      padding-left: 1.5em; } }
  @media screen and (min-width: 761px) {
    .texte-blog p {
      line-height: 1.3em; }
    .texte-blog h1.titre {
      padding: 1em 0;
      font-size: 2.4em; }
    .texte-blog .retraitmobile {
      padding-left: 1.5em; } }

.encadre.columns .column {
  border: 1px solid #e9e9e9;
  padding: 2em 2.5em; }

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0; }

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important; }

.black-wrapper, .blue-wrapper, .purple-wrapper {
  background-color: #373737;
  color: #ffffff;
  border-bottom: 6px solid #ffffff; }
  .black-wrapper h2, .blue-wrapper h2, .purple-wrapper h2 {
    font-style: italic;
    font-size: 0.8em; }
  .black-wrapper .blogbox-home, .blue-wrapper .blogbox-home, .purple-wrapper .blogbox-home {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 2em; }
    @media screen and (max-width: 992px) {
      .black-wrapper .blogbox-home, .blue-wrapper .blogbox-home, .purple-wrapper .blogbox-home {
        grid-template-columns: repeat(1, 1fr); } }
    .black-wrapper .blogbox-home .blogbox-txt h2, .blue-wrapper .blogbox-home .blogbox-txt h2, .purple-wrapper .blogbox-home .blogbox-txt h2 {
      font-size: 1.8em;
      padding: 1em 0;
      font-style: normal; }
      @media screen and (max-width: 992px) {
        .black-wrapper .blogbox-home .blogbox-txt h2, .blue-wrapper .blogbox-home .blogbox-txt h2, .purple-wrapper .blogbox-home .blogbox-txt h2 {
          font-size: 1.2em;
          padding: 0.4em 0; } }
    .black-wrapper .blogbox-home .blogbox-txt span, .blue-wrapper .blogbox-home .blogbox-txt span, .purple-wrapper .blogbox-home .blogbox-txt span {
      font-size: 1.2em; }
    .black-wrapper .blogbox-home .blogbox-img, .blue-wrapper .blogbox-home .blogbox-img, .purple-wrapper .blogbox-home .blogbox-img {
      max-height: 600px;
      text-align: center;
      position: relative; }
      .black-wrapper .blogbox-home .blogbox-img img, .blue-wrapper .blogbox-home .blogbox-img img, .purple-wrapper .blogbox-home .blogbox-img img {
        max-height: 600px; }
      .black-wrapper .blogbox-home .blogbox-img p iframe, .blue-wrapper .blogbox-home .blogbox-img p iframe, .purple-wrapper .blogbox-home .blogbox-img p iframe {
        margin-top: 2em;
        min-height: 450px; }
        @media screen and (max-width: 992px) {
          .black-wrapper .blogbox-home .blogbox-img p iframe, .blue-wrapper .blogbox-home .blogbox-img p iframe, .purple-wrapper .blogbox-home .blogbox-img p iframe {
            min-height: 350px; } }

.black-wrapper {
  /*
    border-top: 2em solid lighten($blacklogo, 8%) ;
    */
  border-bottom: 2em solid #4b4b4b; }
  .black-wrapper .blogbox-txt p {
    font-size: 1rem; }
    @media screen and (max-width: 992px) {
      .black-wrapper .blogbox-txt p {
        font-size: 0.6em; } }

.purple-wrapper {
  background-color: #f13ab8; }
  .purple-wrapper .blogbox-home {
    display: grid;
    grid-template-columns: 500px 1fr; }
    @media screen and (max-width: 992px) {
      .purple-wrapper .blogbox-home {
        grid-template-columns: repeat(1, 1fr); } }

body,
html {
  font-family: "Roboto Mono", monospace;
  font-size: 1.15em; }

h1 {
  font-size: 2em;
  font-family: "Roboto Mono", monospace; }
  @media screen and (max-width: 760px) {
    h1 {
      padding-left: 0.4em; } }

.section {
  padding: 1rem; }

.columns {
  border-top: 1px solid #aaaaaa; }

.column {
  padding: 1em 2em; }
  @media screen and (max-width: 760px) {
    .column {
      padding: 1em; } }

section.illustration {
  background: #fff;
  /*	max-height: 650px;*/ }

.vignette {
  padding-top: 1em; }
  .vignette .columns {
    border-top: 0 solid white !important;
    /* Faire un lien sur une div */ }
    .vignette .columns .column {
      border: 1px solid #e9e9e9;
      padding: 2em 2.5em;
      font-size: 0.8em;
      overflow: hidden;
      /*       margin: 1rem;
*/ }
    .vignette .columns img {
      margin: 0 0 1em;
      position: relative; }
    .vignette .columns p {
      line-height: 1.4em; }
      @media screen and (max-width: 760px) {
        .vignette .columns p {
          font-size: 0.86em; } }
      @media screen and (min-width: 761px) {
        .vignette .columns p {
          font-size: 0.8em; } }

/* marquee! */
.marquee {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  padding: 0.6em 0;
  background-color: #fbfbfb;
  font-family: "Comfortaa", cursive; }
  @media screen and (max-width: 760px) {
    .marquee {
      background-color: #fbfbfb; } }

/* la div uniuqmenet présente sur mobile */
.accrochemobile {
  font-size: 2em;
  line-height: 1.3em;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px; }
  .accrochemobile h1 {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
    padding: 2em .2em; }

.m-md {
  position: relative;
  float: left;
  width: 100%;
  height: 300px;
  overflow: hidden; }

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s ease-out; }

/* changement de curseur sur les slides */
.slide {
  cursor: url("img/cursor.png"), auto; }

/* weird bug.. on mobile */
.columns {
  width: 104%; }

@media screen and (max-width: 760px) {
  .dslogo {
    width: 220px; } }

@media screen and (min-width: 761px) {
  .dslogo {
    width: 300px; } }

.more a {
  text-transform: uppercase; }

@media screen and (max-width: 760px) {
  .more {
    font-size: 1.2em; } }

@media screen and (min-width: 761px) {
  .more {
    font-size: 2em; } }

h1.header-page {
  font-size: 1.1em;
  font-weight: normal;
  color: #f13ab8; }

#wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 10em;
  margin-top: -5em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -5em;
  /*set to a negative number 1/2 of your width*/
  background-color: #f3f3f3; }

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

/*centrer petites boites*/
.css-jxiqlq {
  width: 2em;
  margin: 0 auto; }

@media screen and (max-width: 760px) {
  .navbar-end {
    width: 100%; }
    .navbar-end a {
      float: left; }
      .navbar-end a .icon {
        font-size: 1.2em;
        width: 1.2em; } }

@media screen and (max-width: 760px) {
  section.brand {
    padding-top: 0.4em;
    padding-left: 0.8em; } }

@media screen and (max-width: 760px) {
  main {
    clear: both; } }

@media screen and (max-width: 760px) {
  .links {
    margin-bottom: 2em; } }

@media screen and (max-width: 760px) {
  h1 {
    line-height: 1.4em; } }

@media screen and (max-width: 760px) {
  .purplepage .bio {
    padding: 1em 0em 0 1.4em; } }

.more {
  padding: 1em 0 1em 1.2em; }
  .more a:link, .more a:visited {
    color: #f13ab8; }

.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5; }

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1.0; }
  100% {
    opacity: 0.5; } }
